.*swp
*.o
*.hi
*.p_o
*.prof
tags
TAGS
/mrfy
/mrfy_prof
/mrfyprof
/mrfyprof.*
/mrfy-unopt
/mrfy-llvm
output
psipred-trash
*~
/dist
/mrfy.aux
/mrfy.hp
/mrfy.ps
/mrfy.summary
/mrfy.summary*ghc-opt
/mrfy.out
.DS_store
localsearch
mrfy-prof
mrfy-bench
.shelly
